modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_database:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyAV71GRW1iJF0ya8uRuV6cmiEFWB6zd1R8"
VITE_FIREBASE_AUTH_DOMAIN = "faczt-6ee6e.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "faczt-6ee6e"
VITE_FIREBASE_STORAGE_BUCKET = "faczt-6ee6e.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "14264133408"
VITE_FIREBASE_APP_ID = "1:14264133408:web:b388c6cb771cebc10b1945"
VITE_FIREBASE_MEASUREMENT_ID = "G-3D81PCG71T"
